/*
 * Resets & base styles
 */

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: whitesmoke;
}

/*
 * Typography
 */

h1, h2, h3, h4, h5 {
  margin-bottom: 1em;
  color: darkmagenta;
}

html {
  font-family: sans-serif;
}

/*
 * Header (nav & banner)
 */

header {
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  align-items: center;
  height: 3.5em;
  justify-content: space-around;
  background: white;
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.1);
}

nav span {
  font-weight: bold;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  padding: 1em;
}

.banner img {
  border-radius: 1.5rem;
  transform: translateX(70px);
  box-shadow: 5px 20px 35px 5px rgba(139,0,139,0.3);
}

.banner {
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 800px;
  margin: 50px 20px 100px;
  background-color: white;
  padding: 2rem;
  border-radius: 1.5rem;
}

.banner p {
  font-size: 20px;
}

/*
 * Main content
 */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main section {
  width: min(600px, 100vw);
  margin-bottom: 50px;
}
